body { 
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Wird zum stylen der "Button's" im Header verwendet */
.header a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 75px;
    border-radius: 4px;
}

/* Wird zum stylen des Headers verwendet */
#navbar {
    background-color: #575654;
    display: flex;
    text-align: center;
}

/* Wird zum stylen der div's (Logo, Titel und "Button's" verwendet */
#navbar div {
    margin: 20px;
    width: 100%;
}

/* Sorgt dafür, dass der Header beim scrollen an der Oberseite des Bildschirms bleibt */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Wird verwendet, um den Home "Button" einen blauen Hintergrund zu geben*/
.home {
    background-color: dodgerblue;
}

/* Wird zur Einschrenkung der Größe des Logos verwendet */
.logo {
    height: 86px;
}

/* Wird verwendet, um den Text der Teammitglieder zu zentrieren */
.team {
    text-align: center;
}

/* Wird zum erstellen und stylen der Border um die Teammitglieder verwendet */
.person-border {
    margin-top: 20px;
	border: 4px;
    border-radius: 16px;
    border-color: black;
    border-style: solid;
}

/* Wird zum stylen der Profilbildes der Teammitglieder verwendet */
.avatar {
	border-radius: 50%;
    height: 128px;
    width: 128px;
}